div {
  a: {
    p1: q;
    b: {
      p2: q;
    }
    p3: q;
  }
}

foo {
  bar: baz + bang {
    bip: bop;
    bing: bop; }}

foo {
  bar: baz;
  bang: {
    bip: 1px;
    bop: bar;
    blat:{baf:bort}}}
