.cards {
  margin: 0 -@spacing;
  margin: 0 -(@spacing);
  margin: 2 -@card-spacing * 2;
  margin: 2 -@card-spacing + 1px;
  margin: 2 -@@spacing-name * 2;

  /* binary operation */
  margin: 0 - @spacing;
  margin: 0 - (@spacing);
  margin: 2 - (@card-spacing) * 2;
  margin: 2-@card-spacing;
}
