@include mixin using () {
  x: y;
}

@include mixin using ($arg1: value1, $arg2: value2) {
  arg1: $arg1;
  arg2: $arg2;
}

@include mixin {
  x: y;
}


@include mixin using ($arg1, $arg2) {
  arg1: $arg1;
  arg2: $arg2;
}

@include mixin using ($args...) {
  positional: inspect($args);
  keywords: inspect(keywords($args));
}

@include mixin()using ($arg1, $arg2) {}
@include mixin using($arg1, $arg2) {}
@include mixin using($arg1, $arg2){}

@include one-positional-arg(a,);
@include two-positional-args(a,b,);
@include one-keyword-arg($a: z,);
@include two-keyword-args($a: y,$b: z,);
@include mixed-args(y, $b: z,);

@include module.mixin;
@include module.mixin();

@include vararg-test(a b c d...);
@include vararg-test((a b c d)...);
@include vararg-test((a, b, c, d)...);
@include vararg-test((a: a, b: b, c: c, d: d)...);
@include vararg-test(("a": a, "b": b, "c": c, "d": d)...);
@include vararg-test(a b..., (c: c,d: d)...);
@include vararg-test(a, b c..., (d:d)...);
@include vararg-test($c: c, (a: a, b: b, d: d)...);

@include my-keyframes(#{$nameSpace}-bob) {
  0% {
    @include prefixed(transform, translateY(-8px));
  }
}
