@mixin my-keyframes() {
  @-webkit-keyframes kf {
    @content;
  }
  @-ms-keyframes kf {
    @content
  }
  @-moz-keyframes kf {
    @content;
  }
  @-o-keyframes kf {
    @content
  }
  @keyframes kf {
    @content;
  }
  @keyframes kf {
    $var: true;
    @if $var {
      0% {
        color: red;
      }
      100% {
        color: blue;
      }
    } @else {
      from {
        color: blue;
      }
      to {
        color: red;
      }
    }
  }
}
