a { width: .0em; }
a { width: .00em; }
a { width: .10em; }
a { width: 0.0em; }
a { width: 0.1em; }
a { width: +.0em; }
a { width: +.00em; }
a { width: +.10em; }
a { width: +0.0em; }
a { width: +0.1em; }
a { width: -.0em; }
a { width: -.00em; }
a { width: -.10em; }
a { width: -0.0em; }
a { width: -0.1em; }
