a { color: #1234 }
a { color: #123f }
a { color: #abcd }
a { color: #abcf }
a { color: #ABCD }
a { color: #ABCF }
a { color: #112233 }
a { color: #122233 }
a { color: #112333 }
a { color: #112234 }
a { color: #aabbcc }
a { color: #abbbcc }
a { color: #aabccc }
a { color: #aabbcd }
a { color: #AABBCC }
a { color: #ABBBCC }
a { color: #AABCCC }
a { color: #AABBCD }
a { color: #11223344 }
a { color: #12223344 }
a { color: #11233344 }
a { color: #11223444 }
a { color: #11223345 }
a { color: #aabbccdd }
a { color: #abbbccdd }
a { color: #aabcccdd }
a { color: #aabbcddd }
a { color: #aabbccde }
a { color: #AABBCCDD }
a { color: #ABBBCCDD }
a { color: #AABCCCDD }
a { color: #AABBCDDD }
a { color: #AABBCCDE }
a { color: #112233ff }
a { color: #122233ff }
a { color: #112333ff }
a { color: #112234ff }
a { color: #112233ef }
a { color: #aabbccff }
a { color: #abbbccff }
a { color: #aabcccff }
a { color: #aabbcdff }
a { color: #aabbccef }
a { color: #AABBCCFF }
a { color: #ABBBCCFF }
a { color: #AABCCCFF }
a { color: #AABBCDFF }
a { color: #AABBCCEF }
a { color: #f00 }
a { color: #f00f }
a { color: #ff0000 }
a { color: #ff0000ff }
a {
  color: #1;
  color: #FF;
  color: #123456789;
  color: #xyz;
}
a {
  value: #0h\61sh;
  value: #\30hash;
  value: #\2cx;
  value: #\,x;
  value: #h\61sh;
  value: #\68 ash;
  value: #\68ash;
  value: #x\2c;
  value: #x\,;
}
