a { width: .0%; }
a { width: .00%; }
a { width: .10%; }
a { width: 0.%; }
a { width: 0.0%; }
a { width: 0.1%; }
a { width: +.0%; }
a { width: +.00%; }
a { width: +.10%; }
a { width: +0.%; }
a { width: +0.0%; }
a { width: +0.1%; }
a { width: -.0%; }
a { width: -.00%; }
a { width: -.10%; }
a { width: -0.%; }
a { width: -0.0%; }
a { width: -0.1%; }
