foo[val="bar #{"foo" + " bar"} baz"] {a: b}

@foo #{"directive"} {
  .#{"foo"} { #{"foo-prop"}: #{"foo-val"}; }
}

a /*#{"}*/ {
  margin: 2px;
}

a /*#{#{*/ {
  margin: 2px;
}

div {
  blah: "hello #{2+2} world #{unit(23px)} #{'bloo\n'} blah";
}

a { --#{"foo"}-bar: b; }

[#{$zzz}=foo] { a: b; }
.#{$zzz} { a: b; }
##{$zzz} { a: b; }
:#{$zzz}::#{$zzz} { a: b; }

.js:root #{if(&, '&', '')} {}

.col#{$infix}-#{$i} {}

tr:nth-child(#{$table-striped-order}) {}
tr:nth-of-type(#{$table-striped-order}) {}
