foo[val="bar #{"foo" + " bar"} baz"] {a: b}

@foo #{"directive"} {
  .#{"foo"} { #{"foo-prop"}: #{"foo-val"}; }
}

a /*#{"}*/ {
  margin: 2px;
}

a /*#{#{*/ {
  margin: 2px;
}

div {
  blah: "hello #{2+2} world #{unit(23px)} #{'bloo\n'} blah";
}
