@container name (width) {}
@container name ((width)) or (not ((width))) { main { --match:true; } }
@container name (min-width: 0px) {}
@container name ((min-width: 0px)) or (not ((min-width: 0px))) { main { --match:true; } }
@container name (max-width: 0px) {}
@container name ((max-width: 0px)) or (not ((max-width: 0px))) { main { --match:true; } }
@container name (aspect-ratio) {}
@container name ((aspect-ratio)) or (not ((aspect-ratio))) { main { --match:true; } }
@container name (min-aspect-ratio: 1/2) {}
@container name ((min-aspect-ratio: 1/2)) or (not ((min-aspect-ratio: 1/2))) { main { --match:true; } }
@container name (max-aspect-ratio: 1/2) {}
@container name ((max-aspect-ratio: 1/2)) or (not ((max-aspect-ratio: 1/2))) { main { --match:true; } }
@container name (orientation: portrait) {}
@container name ((orientation: portrait)) or (not ((orientation: portrait))) { main { --match:true; } }
@container name (inline-size) {}
@container name ((inline-size)) or (not ((inline-size))) { main { --match:true; } }
@container name (min-inline-size: 0px) {}
@container name ((min-inline-size: 0px)) or (not ((min-inline-size: 0px))) { main { --match:true; } }
@container name (max-inline-size: 0px) {}
@container name ((max-inline-size: 0px)) or (not ((max-inline-size: 0px))) { main { --match:true; } }
@container name (width: 100px) {}
@container name ((width: 100px)) or (not ((width: 100px))) { main { --match:true; } }
@container name ((width: 100px)) {}
@container name (((width: 100px))) or (not (((width: 100px)))) { main { --match:true; } }
@container name (not (width: 100px)) {}
@container name ((not (width: 100px))) or (not ((not (width: 100px)))) { main { --match:true; } }
@container name ((width: 100px) and (height: 100px)) {}
@container name (((width: 100px) and (height: 100px))) or (not (((width: 100px) and (height: 100px)))) { main { --match:true; } }
@container name (((width: 40px) or (width: 50px)) and (height: 100px)) {}
@container name ((((width: 40px) or (width: 50px)) and (height: 100px))) or (not ((((width: 40px) or (width: 50px)) and (height: 100px)))) { main { --match:true; } }
@container name ((width: 100px) and ((height: 40px) or (height: 50px))) {}
@container name (((width: 100px) and ((height: 40px) or (height: 50px)))) or (not (((width: 100px) and ((height: 40px) or (height: 50px))))) { main { --match:true; } }
@container name (((width: 40px) and (height: 50px)) or (height: 100px)) {}
@container name ((((width: 40px) and (height: 50px)) or (height: 100px))) or (not ((((width: 40px) and (height: 50px)) or (height: 100px)))) { main { --match:true; } }
@container name ((width: 50px) or ((width: 40px) and (height: 50px))) {}
@container name (((width: 50px) or ((width: 40px) and (height: 50px)))) or (not (((width: 50px) or ((width: 40px) and (height: 50px))))) { main { --match:true; } }
@container name ((width: 100px) and (not (height: 100px))) {}
@container name (((width: 100px) and (not (height: 100px)))) or (not (((width: 100px) and (not (height: 100px))))) { main { --match:true; } }
@container name (width < 100px) {}
@container name ((width < 100px)) or (not ((width < 100px))) { main { --match:true; } }
@container name (width <= 100px) {}
@container name ((width <= 100px)) or (not ((width <= 100px))) { main { --match:true; } }
@container name (width = 100px) {}
@container name ((width = 100px)) or (not ((width = 100px))) { main { --match:true; } }
@container name (width > 100px) {}
@container name ((width > 100px)) or (not ((width > 100px))) { main { --match:true; } }
@container name (width >= 100px) {}
@container name ((width >= 100px)) or (not ((width >= 100px))) { main { --match:true; } }
@container name (100px < width) {}
@container name ((100px < width)) or (not ((100px < width))) { main { --match:true; } }
@container name (100px <= width) {}
@container name ((100px <= width)) or (not ((100px <= width))) { main { --match:true; } }
@container name (100px = width) {}
@container name ((100px = width)) or (not ((100px = width))) { main { --match:true; } }
@container name (100px > width) {}
@container name ((100px > width)) or (not ((100px > width))) { main { --match:true; } }
@container name (100px >= width) {}
@container name ((100px >= width)) or (not ((100px >= width))) { main { --match:true; } }
@container name (100px < width < 200px) {}
@container name ((100px < width < 200px)) or (not ((100px < width < 200px))) { main { --match:true; } }
@container name (100px < width <= 200px) {}
@container name ((100px < width <= 200px)) or (not ((100px < width <= 200px))) { main { --match:true; } }
@container name (100px <= width < 200px) {}
@container name ((100px <= width < 200px)) or (not ((100px <= width < 200px))) { main { --match:true; } }
@container name (100px > width > 200px) {}
@container name ((100px > width > 200px)) or (not ((100px > width > 200px))) { main { --match:true; } }
@container name (100px > width >= 200px) {}
@container name ((100px > width >= 200px)) or (not ((100px > width >= 200px))) { main { --match:true; } }
@container name (100px >= width > 200px) {}
@container name ((100px >= width > 200px)) or (not ((100px >= width > 200px))) { main { --match:true; } }
@container name (width: calc(10px)) {}
@container name ((width: calc(10px))) or (not ((width: calc(10px)))) { main { --match:true; } }
@container name (width: calc(10em)) {}
@container name ((width: calc(10em))) or (not ((width: calc(10em)))) { main { --match:true; } }
@container name (width: calc(10px + 10em)) {}
@container name ((width: calc(10px + 10em))) or (not ((width: calc(10px + 10em)))) { main { --match:true; } }
@container name (width < calc(10px + 10em)) {}
@container name ((width < calc(10px + 10em))) or (not ((width < calc(10px + 10em)))) { main { --match:true; } }
@container name (width < max(10px, 10em)) {}
@container name ((width < max(10px, 10em))) or (not ((width < max(10px, 10em)))) { main { --match:true; } }
@container name (calc(10px + 10em) < width) {}
@container name ((calc(10px + 10em) < width)) or (not ((calc(10px + 10em) < width))) { main { --match:true; } }
@container name (calc(10px + 10em) < width < max(30px, 30em)) {}
@container name ((calc(10px + 10em) < width < max(30px, 30em))) or (not ((calc(10px + 10em) < width < max(30px, 30em)))) { main { --match:true; } }
@container name (width: 100px) and (height: 100px) {}
@container name ((width: 100px) and (height: 100px)) or (not ((width: 100px) and (height: 100px))) { main { --match:true; } }
@container name (width: 100px) or (height: 100px) {}
@container name ((width: 100px) or (height: 100px)) or (not ((width: 100px) or (height: 100px))) { main { --match:true; } }
@container name not (width: 100px) {}
@container name (not (width: 100px)) or (not (not (width: 100px))) { main { --match:true; } }
@container name (resolution > 100dpi) {}
@container name ((resolution > 100dpi)) or (not ((resolution > 100dpi))) { main { --match:true; } }
@container name (resolution: 150dpi) {}
@container name ((resolution: 150dpi)) or (not ((resolution: 150dpi))) { main { --match:true; } }
@container name (color) {}
@container name ((color)) or (not ((color))) { main { --match:true; } }
@container name (min-color: 1) {}
@container name ((min-color: 1)) or (not ((min-color: 1))) { main { --match:true; } }
@container name (color-index >= 1) {}
@container name ((color-index >= 1)) or (not ((color-index >= 1))) { main { --match:true; } }
@container name (grid) {}
@container name ((grid)) or (not ((grid))) { main { --match:true; } }
@container name (100px = width = 200px) {}
@container name ((100px = width = 200px)) or (not ((100px = width = 200px))) { main { --match:true; } }
@container name (100px < width > 200px) {}
@container name ((100px < width > 200px)) or (not ((100px < width > 200px))) { main { --match:true; } }
@container name (100px <= width >= 200px) {}
@container name ((100px <= width >= 200px)) or (not ((100px <= width >= 200px))) { main { --match:true; } }
@container name (100px <= width > 200px) {}
@container name ((100px <= width > 200px)) or (not ((100px <= width > 200px))) { main { --match:true; } }
@container name (100px < width >= 200px) {}
@container name ((100px < width >= 200px)) or (not ((100px < width >= 200px))) { main { --match:true; } }
@container name not (width <= 500px) {}
@container not (width <= 500px) {}
@container foo not (width) {}
@container  foo not (width) {}
@container  foo  not (width) {}
/* @container name style(--my-prop: foo) {}
@container name (style(--my-prop: foo)) or (not (style(--my-prop: foo))) { main { --match:true; } }
@container name style(--my-prop: foo - bar ()) {}
@container name (style(--my-prop: foo - bar ())) or (not (style(--my-prop: foo - bar ()))) { main { --match:true; } }
@container name style(not ((--foo: calc(10px + 2em)) and ((--foo: url(x))))) {}
@container name (style(not ((--foo: calc(10px + 2em)) and ((--foo: url(x)))))) or (not (style(not ((--foo: calc(10px + 2em)) and ((--foo: url(x))))))) { main { --match:true; } }
@container name style((--foo: bar) or (--bar: 10px)) {}
@container name (style((--foo: bar) or (--bar: 10px))) or (not (style((--foo: bar) or (--bar: 10px)))) { main { --match:true; } }
@container name style(--my-prop:) {}
@container name (style(--my-prop:)) or (not (style(--my-prop:))) { main { --match:true; } }
@container name style(--my-prop: ) {}
@container name (style(--my-prop: )) or (not (style(--my-prop: ))) { main { --match:true; } }
@container name style(--foo: bar;) {}
@container name (style(--foo: bar;)) or (not (style(--foo: bar;))) { main { --match:true; } }
@container name style(--foo) {}
@container name (style(--foo)) or (not (style(--foo))) { main { --match:true; } }
@container name style(style(--foo: bar)) {}
@container name (style(style(--foo: bar))) or (not (style(style(--foo: bar)))) { main { --match:true; } }
@container name style(--foo: bar !important) {}
@container name (style(--foo: bar !important)) or (not (style(--foo: bar !important))) { main { --match:true; } } */
